PORT=8000
NODE_ENV=development

SUPABASE_URL=https://ynbgsoqbtdrspbddptnj.supabase.co
SUPABASE_ANON_KEY=<your-supabase-anon-key-here>
SUPABASE_SERVICE_ROLE_KEY=<your-supabase-service-role-key-here>

FRONTEND_URL=http://localhost:5173

# Seeding account info
SEED_ADMIN_EMAIL=your-admin-email@example.com
SEED_ADMIN_PASSWORD=your-admin-password
SEED_ADMIN_NAME=Your Admin Name
SEED_CUSTOMER_EMAIL=your-customer-email@example.com
SEED_CUSTOMER_PASSWORD=your-customer-password
SEED_CUSTOMER_NAME=Your Customer Name

# Email Configuration
EMAIL_USER=your-email@gmail.com
EMAIL_PASSWORD=your-app-password

GEMINI_API_KEY=your_gemini_api_key_here